<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="log!=null;else empty" class="vertical-center">
  <h3>Sleep:</h3>
  <chart [type]="typeLine" [data]="data" [options]="options"></chart>
<h3 align="center">{{log.startMonthIndex}}.{{log.startDay}} {{log.startHour}}:{{log.startMinute}} - {{log.endMonthIndex}}.{{log.endDay}} {{log.endHour}}:{{log.endMinute}}</h3>
<h3>Habits:</h3>
<chart [type]="type" [data]="dataHabits" [options]="options"></chart>
</ion-content>
