<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>Alarm</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-button (click)="alarm()">Schedula</ion-button>
</ion-content>