<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>Tracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isStarted">Recording started at: {{startedAt}} </div>
  <ion-button id="start" fill="solid" expand="block" *ngIf="!isStarted" (click)="startSleep()"> Start </ion-button>
  <ion-button id="stop" fill="solid" expand="block" *ngIf="isStarted" color="danger" (click)="stopSleep()"> Stop </ion-button>
    <div class="lullabies">
      <ion-card *ngFor="let music of musics" class="cards" (click)="start(music)">
        <ion-card-header>
          <img src="{{music.tumbnail}}"/>
          <ion-card-title>{{music.title}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>

</ion-content>


<ion-footer id="footer" *ngIf="activeMusic">
  <ion-toolbar color="grey">
    <ion-row>
      <ion-col>
        <h1 >{{activeMusic.title}}</h1>
      </ion-col>
      <ion-col>
      </ion-col>
      <ion-col>
        <ion-button id="stopButton" (click)="pause()" class="stopButton" class="center">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>