<ion-split-menu>
  <ion-menu contentId="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
          <ion-item *ngFor="let p of pages" [routerLink]="p.url" routerDirection="root">{{p.title}}</ion-item>
        <ion-item (click)="logout()" routerDirection="root">Logout</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content"></ion-router-outlet>
</ion-split-menu>

