    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button ></ion-menu-button>
        </ion-buttons>
        <ion-title>Settings</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
    <ion-list>
    <ion-item (click)='toggleTheme($event)' *ngIf="!isNight">
      <ion-label>Night Mode</ion-label>
      <input type="hidden" name="hidden" [(ngModel)]="night-mode" />
    </ion-item>
    <ion-item (click)='toggleTheme($event)' *ngIf="isNight">
      <ion-label>Light Mode</ion-label>
      <input type="hidden" name="hidden" [(ngModel)]="night-mode" />
    </ion-item>
    <ion-item>
      <ion-label>Date Format</ion-label>
      <ion-select  [(ngModel)]="mySelect"  placeholder="{{this.dateForm}}"  (ionChange)="showSelectValue(mySelect)" okText="Okay" cancelText="Cancel">
        <ion-select-option value="YMD">MM-DD</ion-select-option>
        <ion-select-option value="DMY">DD-MM</ion-select-option>
      </ion-select>
    </ion-item>
    </ion-list>
    </ion-content>