<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Password Recovery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <iom-item>
        <ion-input id="email" type="text" placeholder="Email" [(ngModel)]="email"></ion-input>
    </iom-item>
    <ion-button id ="sendNewPassword" fill="solid" expand="block" (click)="sendNewPassword()">Send</ion-button>
  </ion-list>
</ion-content>
