<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <iom-item>
        <ion-input id="email" type="text" placeholder="Email" [(ngModel)]="email"></ion-input>
    </iom-item>
    <iom-item>
      <ion-input id="password" type="Password" placeholder="Password" [(ngModel)]="password"></ion-input>
    </iom-item>
  </ion-list>
  <ion-item>
    <ion-label>Remember to my e-mail</ion-label>
    <ion-checkbox id="rememberToMyEmail" [(ngModel)]="rememberMe"></ion-checkbox>
  </ion-item>
  <ion-button id="loginButton" fill="solid" expand="block" (click)="login()"> Login </ion-button>
  <ion-button id="registerButton" fill="solid" expand="block" (click)="register()" routerDirection="forward"> Registration </ion-button>
  <ion-label id="forgotPassword" position="floating" color="secondary" (click)="forgotPassword()"> Forgot your password? </ion-label>
</ion-content>