<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <iom-item>
        <ion-input id="email" type="text" placeholder="Email" [(ngModel)]="email"></ion-input>
    </iom-item>
    <iom-item>
      <ion-input id="password" type="Password" placeholder="Password" [(ngModel)]="password"></ion-input>
    </iom-item>
    <iom-item>
      <ion-input id="passwordAgain" type="Password" placeholder="Confirm Password" [(ngModel)]="passwordAgain"></ion-input>
    </iom-item>

  </ion-list>
  <ion-button id="register" fill="solid" expand="block" (click)="register()"> Sign Up </ion-button>
</ion-content>
