
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="logs!=0;else empty">
    <ion-row>
      <ion-col>
        From
      </ion-col>
      <ion-col>
        Until
      </ion-col>
      <ion-col>
        Duration
      </ion-col>
      <ion-col size="5%">
      </ion-col>
    </ion-row>
    <ion-row  *ngFor="let log of logs">
      <ion-col [routerLink]="log.docId" *ngIf="dateForm">
        {{log.startMonthIndex}}.{{log.startDay}} {{log.startHour}}h:{{log.startMinute}}m
      </ion-col>
      <ion-col [routerLink]="log.docId" *ngIf="dateForm">
        {{log.endMonthIndex}}.{{log.endDay}} {{log.endHour}}h:{{log.endMinute}}m
      </ion-col>
      <ion-col [routerLink]="log.docId" *ngIf="!dateForm">
        {{log.startDay}}.{{log.startMonthIndex}} {{log.startHour}}h:{{log.startMinute}}m
      </ion-col>
      <ion-col [routerLink]="log.docId" *ngIf="!dateForm">
        {{log.endDay}}.{{log.endMonthIndex}} {{log.endHour}}h:{{log.endMinute}}m
      </ion-col>
      <ion-col [routerLink]="log.docId">
        {{log.diff}}
      </ion-col>
      <ion-col size="5%">
        <ion-icon name="trash-bin" (click)="delete(log.docId)"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
    <h2 *ngIf="(logs==0)"><p *ngIf="loaded">Your logs are empty! :(<p></h2>
    <h4>Don't forget to plug in the charger!</h4>
</ion-content>